{{#modal-dialog translucentOverlay=true close="closeModalDialog"}}
  <h3 {{action "closeModalDialog" on="click"}} class="exit">x</h3>
  <div class="section center">
    <h1 class="text__title section">Upload Video</h1>
    {{#with (changeset model formValidations) as |changeset|}}
      <form {{action "submitVideo" changeset on="submit"}}>
        {{input type="url" value=changeset.videoUrl placeholder="URL" class="form"}}
        {{input type="text" value=changeset.title placeholder="Title" class="form"}}
        {{textarea type="text" value=changeset.description placeholder="Description" class="form"}}
        <button class="button button--black button--fullwidth">Submit</button>
        {{#link-to 'instrument.challenge.video'}}
          <button class="button button--black button--fullwidth">Back</button>
        {{/link-to}}
      </form>
    {{/with}}
  </div>
{{/modal-dialog}}
