<div class="section">
  <div class="container">
    <div class="new-challenge">
      <div class="button hvr-border-fade">
        {{#link-to 'instrument.challenge.video.new'}}
          New Video
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1>{{challenge.title}}</h1>
    <p>{{challenge.description}}</p>

    <div class="grid">
      {{#each challenge.posts as |post|}}
          <div class="video__item">
            {{ember-youtube ytid=post.youtubeId width="480" height="360"}}
            <h1 class="video-title">{{post.title}}</h1>
            <p class="small-text">by <u>User</u> on April 1</p>
            <p class="video-description">{{post.description}}</p>
            {{!-- <p>
              {{#link-to 'instrument.challenge.video.edit' post}}
              <button>Edit</button>
              {{/link-to}}
              <button {{action "deleteChallenge" post}}>Delete</button>
            </p> --}}
            {{#link-to 'instrument.challenge.video.comments' post class="small-text"}}
              Comments
            {{/link-to}}
            {{outlet}}
          </div>

        {{else}}
        <p>No posts to display. Add a
        {{#link-to 'instrument.challenge.video.new'}}
           <u>new post!</u>
        {{/link-to}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
