<div class="section">
  <div class="container">
    <div class="new-challenge">
      {{#link-to 'instrument.challenge.video.new'}}
      <div class="button hvr-border-fade">
          New Video
      </div>
      {{/link-to}}
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1 class="text__title center">{{challenge.title}}</h1>
    <p class="text__lowercase center">{{challenge.description}}</p>
    <div class="grid section">
      {{#each challenge.posts as |post|}}
          <div class="video">
            {{ember-youtube ytid=post.youtubeId width="480" height="360"}}
            <h1 class="text__title">{{post.title}}</h1>
            <div class="text__lowercase">by <u>User</u> on April 1</div>
            <p class="text__lowercase">{{post.description}}</p>
            <div class="video__bar section">
              {{#link-to 'instrument.challenge.video.edit' post}}
                <button class="button button--black">edit</button>
              {{/link-to}}
              <div class="button button--black" {{action "deletePost" post}}>Delete
              </div>
              {{#link-to 'instrument.challenge.video.comments' post class="small-text"}}
                <div class="button button--black">Comments</div>
              {{/link-to}}
            </div>
          </div>

        {{else}}
        <div class="section">
          <div class="container">
            <p class="text">No posts to display. Add a
              {{#link-to 'instrument.challenge.video.new' class="hvr-underline-from-center"}}
                new video
              {{/link-to}}
              !
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
