{{#video-modal translucentOverlay=true close="closeModalDialog" container-class=""}}
    <div class="comment-modal">
      {{ember-youtube ytid=post.youtubeId width="480" height="360"}}
      <div class="comment-modal__info">
        <h1 class="video-title">{{post.title}}</h1>
        <p class="small-text">by <u>User</u> on April 1</p>
        <p class="video-description">{{post.description}}</p>

        <div class="comment-feed">
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
          <div class="comment-feed-box">
            <p class="username">calebjwl</p>
            <p class="comment">This is awesome!</p>
          </div>
        </div>

        {{!-- {{#each post.comments as |comment|}}
          <p class="small-text">{{comment.user}}</p>
          <p>{{comment.body}}</p>
          <button {{action "deleteComment" on="submit"}}>Delete</button>
        {{/each}} --}}
        {{#with (changeset model formValidations) as |formValues|}}
          <form {{action "submitComment" changeset on="submit"}}>
            {{input type="text" placeholder="Add a comment..." value=formValues.body class="comment-input"}}
            <button class="button button--black">Submit</button>
          </form>
        {{/with}}
      </div>
    </div>
{{/video-modal}}
